<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CRUDWinForm.Properties.Settings.CrudWinFormConnectionString"
            connectionString="Data Source=DESKTOP-C5F0IHA\AGUIRRE2021;Initial Catalog=CrudWinForm;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>